name: GitHub CI

on:
  create:
    branches: master

# I used the following project as template to get started:
# https://github.com/dessant/search-by-image/blob/master/.github/workflows/ci.yml

jobs:
  build:
    name: Build packages
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    env:
      MASTER_PATH: __master_branch
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
        with:
          persist-credentials: false
      - name: Clone uAssets
        run: |
          git submodule update --depth 1 --init
      - name: Clone master branch for post process
        uses: actions/checkout@v2
        with:
          ref: master
          path: ${{ env.MASTER_PATH }}
      # https://www.gnu.org/software/bash/manual/html_node/Shell-Parameter-Expansion.html
      - name: Get release information
        id: release_info
        run: |
          echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      - name: Create GitHub release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          tag_name: ${{ steps.release_info.outputs.VERSION }}
          release_name: ${{ steps.release_info.outputs.VERSION }}
          prerelease: true
      - name: Prepare Build
        env:
          PRIVATEKEY: ${{ secrets.PRIVATEKEY_PEM }}
        run: |
          echo "$PRIVATEKEY" > ~/private-key.pem
      - name: Build all packages
        run: |
          tools/make-chromium.sh ${{ steps.release_info.outputs.VERSION }}
        # tools/make-firefox.sh ${{ steps.release_info.outputs.VERSION }}
        # tools/make-thunderbird.sh ${{ steps.release_info.outputs.VERSION }}
        # tools/make-npm.sh ${{ steps.release_info.outputs.VERSION }}
      - name: Upload Chromium package
        id: release_chrome 
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: dist/build/uBlock_${{ steps.release_info.outputs.VERSION }}.chromium.crx
          asset_name: uBlock_${{ steps.release_info.outputs.VERSION }}.chromium.crx
          asset_content_type: application/octet-stream

      - name: Post Upload Chromium package
        env:
          UPDATE_XML: dist/chromium/update.xml
        run: |
          pushd "${{ env.MASTER_PATH }}"
          node dist/chromium/update-meta.js "${{ steps.release_chrome.outputs.browser_download_url }}" "${{ steps.release_info.outputs.VERSION }}"
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions Bot"
          git add ${{ env.UPDATE_XML }}
          git diff-index --quiet HEAD || git commit -m "update ${{ env.UPDATE_XML }}"
          git push origin master
          popd

      # - name: Upload Firefox package
      #   uses: actions/upload-release-asset@v1
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     upload_url: ${{ steps.create_release.outputs.upload_url }}
      #     asset_path: dist/build/uBlock_${{ steps.release_info.outputs.VERSION }}.firefox.xpi
      #     asset_name: uBlock_${{ steps.release_info.outputs.VERSION }}.firefox.xpi
      #     asset_content_type: application/octet-stream
