name: uBO release

on:
  create:
    branches: master

permissions:
  contents: read

# I used the following project as template to get started:
# https://github.com/dessant/search-by-image/blob/master/.github/workflows/ci.yml

jobs:
  build:
    permissions:
      contents: write # for creating release
    name: Build packages
    runs-on: ubuntu-latest
    timeout-minutes: 70
    if: startsWith(github.ref, 'refs/tags/')
    env:
      PACKAGE_META_DIR: dist/meta
      CHROMIUM_PACKAGE_META_DIR: dist/meta/chromium
      CHROMIUM_UPDATE_XML: dist/chromium/update.xml
      FIREFOX_PACKAGE_META_DIR: dist/meta/firefox
      FIREFOX_UPDATE_JSON: dist/firefox/updates.json

    steps:
      - name: Clone repository
        uses: actions/checkout@v3
        with:
          persist-credentials: false
      - name: Clone uAssets
        run: |
          tools/pull-assets.sh
      # https://www.gnu.org/software/bash/manual/html_node/Shell-Parameter-Expansion.html
      - name: Setup Python
        run: |
          python -m pip install --upgrade pip
          pip install -r dist/firefox/requirements.txt
      - name: Get release information
        id: release_info
        run: |
          echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      - name: Create GitHub release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          tag_name: ${{ steps.release_info.outputs.VERSION }}
          release_name: ${{ steps.release_info.outputs.VERSION }}
          prerelease: true
      - name: Prepare Build
        env:
          PRIVATEKEY: ${{ secrets.PRIVATEKEY_PEM }}
        run: |
          echo "$PRIVATEKEY" > ~/private-key.pem
      - name: Build MV2 packages
        run: |
          tools/make-chromium.sh ${{ steps.release_info.outputs.VERSION }}
          tools/make-firefox.sh ${{ steps.release_info.outputs.VERSION }}
        # tools/make-thunderbird.sh ${{ steps.release_info.outputs.VERSION }}
        # tools/make-npm.sh ${{ steps.release_info.outputs.VERSION }}

      # - name: Build MV3 packages
      #   run: |
      #     tools/make-mv3.sh full
      #     echo "MV3PACKAGE=$(basename $(ls dist/build/uBlock_*.mv3.zip))" >> $GITHUB_ENV

      - name: Upload Chromium package
        id: release_chromium
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: dist/build/uBlock_${{ steps.release_info.outputs.VERSION }}.chromium.crx
          asset_name: uBlock_${{ steps.release_info.outputs.VERSION }}.chromium.crx
          asset_content_type: application/octet-stream

      - name: Generate Chromium package metadata
        continue-on-error: true
        run: |
          node dist/chromium/update-meta.js "${{ steps.release_chromium.outputs.browser_download_url }}" "${{ steps.release_info.outputs.VERSION }}"
          mkdir -p "${{ env.CHROMIUM_PACKAGE_META_DIR }}"
          cp -f "${{ env.CHROMIUM_UPDATE_XML }}" "${{ env.CHROMIUM_PACKAGE_META_DIR }}/"

      - name: Upload Firefox package
        id: release_firefox
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: dist/build/uBlock_${{ steps.release_info.outputs.VERSION }}.firefox.xpi
          asset_name: uBlock_${{ steps.release_info.outputs.VERSION }}.firefox.xpi
          asset_content_type: application/octet-stream

      - name: Signing Firefox package, Generate metadata
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AMO_API_KEY: ${{ secrets.AMO_API_KEY }}
          AMO_SECRET: ${{ secrets.AMO_SECRET }}
        run: |
          python3 dist/firefox/publish-signed-beta.py  "${{ steps.release_info.outputs.VERSION }}" "${{ steps.release_firefox.outputs.browser_download_url }}"
          mkdir -p "${{ env.FIREFOX_PACKAGE_META_DIR }}"
          cp -f "${{ env.FIREFOX_UPDATE_JSON }}" "${{ env.FIREFOX_PACKAGE_META_DIR }}/"

      - name: Deploy package metadata
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: meta
          publish_dir: "./${{ env.PACKAGE_META_DIR }}"
          force_orphan: true

      # - name: Upload Chromium MV3 package
      #   uses: actions/upload-release-asset@v1
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     upload_url: ${{ steps.create_release.outputs.upload_url }}
      #     asset_path: dist/build/${{ env.MV3PACKAGE }}
      #     asset_name: ${{ env.MV3PACKAGE }}
      #     asset_content_type: application/octet-stream
